{
  margin: 0;
  font-family: "serif";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid #201f1f;
}
.navbar h1 {
  color: rgb(22, 21, 21);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 30px;
  text-decoration: none;
  padding: 10px;
}
.navbar a:hover {
  color: rgb(207, 59, 59);
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
